<div [hidden]="submitted">
  <h3>Add activity</h3>
  <form (ngSubmit)="onSubmit()" #activityForm="ngForm">
    <div class="row">
      <div class="form-group col-xs-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>
      <div class="form-group col-xs-3">
        <label for="name">Start date</label>
        <input type="text" class="form-control" id="startdate" placeholder="dd.mm.yyyy"
               [(ngModel)]="model.startdate" name="startdate">
      </div>
      <div class="form-group col-xs-3">
        <label for="name">End date</label>
        <input type="text" class="form-control" id="enddate" placeholder="dd.mm.yyyy"
               [(ngModel)]="model.enddate" name="enddate">
      </div>
    </div>
    <button type="submit" class="btn btn-success"
            [disabled]="!activityForm.form.valid">Submit
    </button>
  </form>
</div>

<div [hidden]="!submitted">
  <h3>You submitted the following:</h3>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9 pull-left">{{ model.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Start date</div>
    <div class="col-xs-9 pull-left">{{ model.startdate }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">End date</div>
    <div class="col-xs-9 pull-left">{{ model.enddate }}</div>
  </div>
</div>

