<h1>{{title}}</h1>
<ul class="programs" *ngIf="programs;else loading">
  <li *ngFor="let program of programs">
    <a routerLink="/programs/{{program.id}}">
      <span>{{ program.name }}</span>
    </a>
  </li>
</ul>
<ng-template #loading><p>loading...</p></ng-template>
