<div *ngIf="activities;else loading">
  <div *ngIf="activities.length > 0;else empty_activities">
  <h2>Activities of program {{id}}</h2>
  <ul class="activities">
    <li *ngFor="let activity of activities">
      {{ activity.name }} <button class="btn delete" (click)="delete(activity)">x</button>
    </li>
  </ul>
  </div>
  <ng-template #empty_activities><p>No activities</p></ng-template>
</div>
<ng-template #loading><p>loading...</p></ng-template>
<hr>
<app-activity-form [id]="id"></app-activity-form>
<hr>
<button class="btn btn-default" (click)="goBack()">go back</button>
